.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.123);
   margin-top: 30px;
}
.footer-details{
    width: 40%;
    color: #5e5b5b;
}
.newsletter{
    width: 40%;
}
.news-container{
    display: flex;
    justify-content: space-evenly;
    background-color:rgba(128, 128, 128, 0.281);
   padding: 15px;
   border-radius: 10px;
}
.news-container input{
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    font-size: 15px;
}
.news-container label{
    font-size: 18px;
    font-weight: 600;
}
.use-legal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.legal h3{
    font-weight: 400;
}
.useful-link h3{
    font-weight: 400;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.288);
    margin-bottom: 20px;
    margin-top: 10px;
}
.subscribe-btn{
    padding: 10px;
    
}
.subscribe-btn:hover{
    border: 2px solid blue;
}
@media (max-width: 800px) {
  
   .footer{
       display: flex;
       flex-direction: column;
       margin-top: 20px;
   }
   .footer-details{
       width: 90%;
       margin-bottom: 20px;
       margin-top: 30px;
   }
   .newsletter{
       width: 90%;
   }
   }